@model YummyTummy.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:start;">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress.Email)
        </dd>


        <dt>
            @Html.DisplayName("Average Rating")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestaurantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
