@model YummyTummy.Models.RestaurantAddress

<h3>@ViewBag.Message</h3>

<address>
    @Model.Street<br />
    @Model.City, @Model.State @Model.Country, @Model.ZipCode<br />
    
    <abbr title="Phone">P:</abbr>
    @Model.Phone
</address>

<address>
    <strong>Support:</strong>   <a href=@Model.Email>@Model.Email</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.712240470021!2d-77.35270038509078!3d38.953401851246866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b648236fdbcab9%3A0x8e090b75e1c60b6e!2sRevature!5e0!3m2!1sen!2sus!4v1515993677261" style="width:100vh; height : 60vh; border:0;" frameborder="0"  allowfullscreen></iframe>>
